{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="login-card shadow-sm p-5 rounded-3">
            <h3 class="text-center mb-4">Login</h3>
            <form id="loginForm" novalidate>
                {% csrf_token %}
                <div class="form-group mb-3">
                    <input type="text" name="user" class="form-control" id="email" placeholder="Email or Phone Number" required>
                </div>
                <div class="form-group mb-3">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email or Phone Number" required>
                </div>
                <div class="form-group mb-3">
                    <input type="Phone" name="phone" class="form-control" id="email" placeholder="Email or Phone Number" required>
                </div>
                <div class="form-group mb-4">
                    <input type="password" name="pwd1" class="form-control" id="password" placeholder="Password" required>
                </div>
                <div class="form-group mb-4">
                    <input type="password" name="pwd2" class="form-control" id="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-login w-100">Register</button>
                <div class="text-center mt-3">
                    <small>Don’t have an account? <a href="" class="text-decoration-none">Signin</a></small>
                </div>
            </form>
        </div>
    </div>

{% endblock %}